body{
    background-color: #2B2B2B;
    color: #C4c4c4;
    font-family: 'Courier New', Courier, monospace;
}

#topbar{
    min-width:100%;
    background-color: #151515;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -8px;
    
}
h5{
    margin-left: 1.2%;
}
#menu{
    text-align: center;
    position: relative;
    bottom: 50px;
    padding-left: 60%;
}
A:visited, A:link {
    text-decoration: none;
    color: #C4c4c4;
    font-size: 20px;

} 
#menu2{
    padding-left: 5%;
    padding-right: 5%;
}
#name-info{
    position: relative;
    top: 10px;
    margin-left: 15%;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 50%;
    border: 5px solid white;
}
#aboutme{
    width: 65%;
    height: auto;
    background-color: #151515;
    padding: 1%;
    float: left;
}
#contact-me{
    width: 300px;
    height: auto;
    background-color: #151515;
    margin-left: 4%;
    padding-left: 1%;
    float: left;
}

#container{
    margin: 20px;
}
#projects{
    clear:both;
}